/* Body Styles */
body {
background: #c4c4c4;
font-family:Arial;
font-size:10pt;
margin:5px;
text-align:center;
}
#mainCentering {
width:85%;
margin-left:auto;
margin-right:auto;
}
/* Styles for border around page */
#borderTop {
width:100%;
background:#919191 url("../images/mainBorderT.gif") top left repeat-x;
}
#border1 {
border-left:1px solid #afafaf;
border-right:1px solid #afafaf;
}
#border2 {
border-left:1px solid #484848;
border-right:1px solid #484848;
}
#border3 {
border-left:1px solid #000000;
border-right:1px solid #000000;
}
#border4 {
border-left:1px solid #8e9192;
border-right:1px solid #8e9192;
}
#mainContainer {
background:#fff;
}
#borderBottom {
background:#FFFFFF url("../images/mainBorderB.gif") bottom left repeat-x;
height:22px;
width:100%;
}
.cornerL {float:left;}
.cornerR {float:right;}

/* Styles for top bar including logo and menu */
#topBar {
background:#919191;
border-bottom:2px solid #000000;
height:45px;
text-align:left;
}
h1 {
float:left;
margin:0px; 
font-size:140%;
padding:0px 0px 0px 15px;
}
h1 a:link, h1 a:visited, h1 a:hover {
color:#000;
text-decoration:none; 
}
.siteDesc {float:right; font-size:90%;padding:5px 20px 0 0;}

/* Shared styles for content pages, individual pages have individual styles */
#content {
border-left:1px solid #8e9192;
border-right:1px solid #8e9192;
padding:15px;
}
#content p {
padding:0px;
margin:0px;
}
#content ul {
list-style:square;
margin:0 0 10px 20px;
padding:0px;
}
#content li {
margin:0px;
padding-bottom:1px;
}
#content h4 {
font-size:100%;
}
#content a:link, #content a:visited { 
color: #000000;
} 
#content a:hover { 
color: #ff0000;
} 

/* automatically clears floats */
.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
}
.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}