<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    

    <title> Slider in Lightbox | RoyalSlider Example</title>

    <meta content="Touch-enabled image gallery and content slider plugin, that focuses on providing great user experience on every desktop and mobile device." name="description">
    <meta name="keywords" content="content slider, gallery, plugin, jquery, banner rotator">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <meta name="author" content="Dmitry Semenov">

    <!-- slider JS files -->
    
    <link href="../royalslider/royalslider.css" rel="stylesheet">
    <script  src="../royalslider/jquery-1.8.0.min.js"></script>
    <script src="../royalslider/jquery.royalslider.min.js"></script>
    
    
     
        <script src="../preview-assets/js/colorbox/jquery.colorbox.js"></script>
     
    
    <!-- slider stylesheets -->
    
     
        <link href="../royalslider/default/rs-default.css" rel="stylesheet">
     
        <link href="../preview-assets/js/colorbox/colorbox.css" rel="stylesheet">
     
    

<style type="text/css">
.rsDefault .rsBullets { display:none;}

#cboxClose {
color:#fff;
right: 0;
background-position: -100px -25px;
top: 0px;
position: absolute;
z-index: 99999;
}
</style>
    
  </head>
  <body >
  
     
    
    <div id="colorbox-items">
      <a href=""><img src="http://trhoppe.smugmug.com/Galleries/20110508AroundAtlanta/i-pG3F3bM/0/Ti/IMG2700-Ti.jpg"></a>
      <a href=""><img src="http://trhoppe.smugmug.com/Galleries/20110508AroundAtlanta/i-HhKWxmD/0/Ti/IMG2688-Ti.jpg"></a>
      <a href=""><img src="http://trhoppe.smugmug.com/Galleries/20110508AroundAtlanta/i-JD3LnLm/0/Ti/IMG2539-Ti.jpg"></a>
      <a href=""><img src="http://trhoppe.smugmug.com/Galleries/20110508AroundAtlanta/i-qStV49M/0/Ti/IMG2562-Ti.jpg"></a>
    </div>


      <div style="display:none;">
          <div id="simple-slider" class="royalSlider rsDefault" style="width:100%; height:100%;">
    <a class="rsImg" href="http://trhoppe.smugmug.com/Galleries/20110508AroundAtlanta/i-pG3F3bM/0/O/IMG2700.jpg">
    </a>
    <a class="rsImg" href="http://trhoppe.smugmug.com/Galleries/20110508AroundAtlanta/i-HhKWxmD/0/O/IMG2688.jpg">
    </a>
    <a class="rsImg" href="http://trhoppe.smugmug.com/Galleries/20110508AroundAtlanta/i-JD3LnLm/0/O/IMG2539.jpg">
    </a>
    <a class="rsImg" href="http://trhoppe.smugmug.com/Galleries/20110508AroundAtlanta/i-qStV49M/0/O/IMG2562.jpg">
    </a>
     
</div>
</div>
      



 

   <!-- tabs & footer end /// --> 
   
  
    <script id="addJS">jQuery(document).ready(function($) {
  var win = $(window),
      w,
      cContent = $('#cboxLoadedContent'),
      currRs;
  $('.thumbwrap li a').on('click', function(e) {
      e.preventDefault();
      var self = this;

      if(currRs != undefined) {
        currRs.st.transitionSpeed = 0;
        currRs.goTo($(self).parent.index());
        currRs.st.transitionSpeed = 600;
      }

      $.colorbox({
          preloading: true,
          modal: true,
          transition: 'none',
          speed: 0,
          width: '100%',
          height: '100%',
          onComplete: function(e) {
            currRs = $('#cboxLoadedContent').find('.royalSlider').royalSlider({
              imageScaleMode: 'fit-if-smaller',
              keyboardNavEnabled: true,
              startSlideId: $(self).parent().index(),
              arrowsNavAutoHide:false,
              navigateByClick: false
            }).data('royalSlider');
          },
          inline:true,
          href:'#' + $(self).parents('.thumbwrap').attr('data-contentid')
      });

      return false;
  });

  win.resize( function() {
     updateLightboxSize();
  });

  // dynamic lightbox resizing
  function updateLightboxSize() {
       $.colorbox.resize({
           height: '100%',
           width: '100%'
       });
      if(currRs) {
        currRs.updateSliderSize();
      }
  }

});
</script>
  
  </body>
</html>
